<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'/>
    <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Index Page:</title>
  </head>
  <body>
    <div id="root">
      <h2>Index Page</h2>

      <p>Access the <a href = "./src/main.jsx">web app</a></p>

      <p>DEFAULT ADMIN NAME: _</p>
      <p>DEFAULT ADMIN PASSWORD: _</p>

      <p>DEFAULT USER NAME: _</p>
      <p>DEFAULT USER PASSWORD: _</p>
    </div>
    <script type="module" src="./src/main.jsx"></script>
  </body>
</html>
